# Session 2 DataFrames and Pandas

This notebook provides a brief introduction to Pandas. Pandas is a package for data analysis and manipulation. It organises data in tabular form in a structure called a DataFrame. Before looking at this, let's define some data in the form of two lists (containing respectively the average height of some tall people aged between 11 and 18).

In [ ]:
height_list = [150, 155, 164, 174, 183, 189, 192, 192]
age_list = [11, 12, 13, 14, 15, 16, 17, 18]

The code cells below show some things you can do with this data when it is available in list format:
1. get the height at the age of 13
2. get the mean height between the ages of 11 and 18
3. plot the height vs the age
4. convert to inches

In [ ]:
# 1. get the height at the age of 13
i = age_list.index(13)
height_list[i]

In [ ]:
# 2. get the mean height between the ages of 11 and 18
import numpy as np
np.mean(height_list)

In [ ]:
# 3. plot the height vs the age
import matplotlib.pyplot as plt
plt.plot(age_list, height_list)

In [ ]:
# 4. convert to inches
height_list_inch = []
for h in height_list:
    h_inch = h * 0.3937
    height_list_inch.append(h_inch)
height_list_inch

## Pandas Series

The code above used various packages and Python instructions to accomplish these tasks. If you store the data as a Pandas `Series` then you can do the same things, but with fewer lines of code.

In [ ]:
import pandas as pd

# Same as above
height_list = [150, 155, 164, 174, 183, 189, 192, 192]
age_list = [11, 12, 13, 14, 15, 16, 17, 18]

s = pd.Series(
    index=age_list,
    data=height_list, 
)
s

In [ ]:
# 1. get the height at the age of 13
s.loc[13]

In [ ]:
# 2. get the mean height between the ages of 11 and 18
s.mean()

In [ ]:
# 3. plot the height vs the age
s.plot()

In [ ]:
# 4. convert to inches
s_inch = s * 0.3937
s_inch

***Exercise 1***: We have a table with the price of solar panels expressed as Euro per watt over time. Create a pandas Series and plot the data as a bar chart (see <A href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html</A>).

| year | cost |
|------|------|
| 2010 | 7.34 |
| 2011 | 6.44 |
| 2012 | 4.55 |
| 2013 | 3.97 |
| 2014 | 3.49 |
| 2015 | 3.23 |
| 2016 | 3.02 |
| 2017 | 2.84 |
| 2018 | 2.70 |
| 2019 | 2.53 |
| 2020 | 2.34 |

In [ ]:
year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
cost_list = [7.34, 6.44, 4.55, 3.97, 3.49, 3.23, 3.02, 2.84, 2.70, 2.53, 2.34]

# Add your code here

## Pandas DataFrame

A Pandas Series is basically just one column of data, with its corresponding index. A DataFrame consists of multiple Series and all columns share a common index. In the code cell below, a DataFrame is created with the age data serving as the index. There are two data columns, one with the height and the other with the weight.

In [ ]:
weight_list = [42, 46, 50, 53, 55, 58, 62, 65]

df = pd.DataFrame(
    index=age_list,
    data={
       'height': height_list,
       'weight': weight_list,
    },
)
df

As demonstrated earlier, the plot function provides a quick way to inspect the data.

In [ ]:
df.plot();

Since the numerical values of height and weight differ quite a lot, adding a secondary axis gives a better overview.

In [ ]:
df.plot(secondary_y=["weight"]);

Adding a column is easy. For example, adding the body mass index (BMI) calculated from the weight and height columns is done in the following way

In [ ]:
df['BMI'] = df['weight'] / ((df['height'] / 100) ** 2)
df

As the above code cell shows, individual columns can be accessed by typing the column name between square brackets that directly follow the DataFrame name. Another way to get a specific column is to use a dot followed by its name

In [ ]:
df.BMI

A specific row can be selected using .loc[*x*], where the value of the index for that row should replace the *x* between the square brackets. For example for second last row the index value is 17 so the statement becomes

In [ ]:
df.loc[17]

To get a specific value from a row column pair, both the index value and the column name can be provided

In [ ]:
df.loc[17, "BMI"]

***Exercise 2***: Modify the code cell above so that you obtain both the height and the BMI for a row using a single line of code.

In [ ]:
# Type your code here

Slicing or indexing the DataFrame based on a conditional is also possible. For example, to get only the rows for which the height is larger than 180 cm:

In [ ]:
idx = df['height'] > 180
dfsub = df.loc[idx]
dfsub

Summary statistics are quickly obtained using the `describe` function.

In [ ]:
df.describe()

Saving the DataFrame to an Excel file is easy using the `to_excel` function.

In [ ]:
df.to_excel("hwb.xlsx")

Importing the data from Excel is also easy (using the `read_excel` function). We'll explore these in later sessions in more detail.

## Data types

The data used above could just as well have been handled by an array because it only involved numbers. In a DataFrame, it is possible to have mulitple data types. In the example below, one of the lengths is a string. This is a very simplistic example, but it may occur importing data from a file (for which Pandas offers many options).

In [ ]:
new_s = pd.Series(
    data=[150, 155, 164, 174, 183, 189, 192, '192'], 
    index=[11, 12, 13, 14, 15, 16, 17, 18],
)
new_s

Converting the lenghts to inches will result in a `TypeError` because a string can't be multiplied by a floating point number.

In [ ]:
new_s * 0.3937

A way to avoid this is to try and convert all data to a number using the `to_numeric` function.

In [ ]:
new_s = pd.to_numeric(new_s)
new_s * 0.3937

***Exercise 3*** Execute the code cell below and inspect the output. Explain what happens.

In [ ]:
new_s = new_s.astype(str)
new_s * 2